<p>
  OpenRefine (formerly Google Refine) is a powerful tool for working with messy data: cleaning it; organizing it and transforming it from one format into another.  It is extremely useful for anyone who works regularly with any kind of tabular data.

At its most simple, OpenRefine helps you explore your data, identify and easily correct errors and globally reformat columns. For the more advanced users it can be used to extend your data and link it with web services and external data. Most importantly OpenRefine edits are reproducible and you can create a record of your data cleaning steps so you can automatically run them again on a new dataset.

This introductory course is aimed at complete beginners and will get you familiar with basic concepts of OpenRefine:

Get an overview of a data set
Resolve inconsistencies in a data set
Help you split data up into more granular parts
Save a set of data cleaning steps to replay on multiple files
</p>
<p align="center">
  <em>
    For more information,
    please see 
    <a href="http://openrefine.org/">OpenRefine</a>
  </em>
</p>
